* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0 auto;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 100%;
  line-height: 115%; }
  
h4 {
    font-weight: bold;
    margin: 10px 0;
}

.destination li{
    float: left;
    padding: 0;
    width: 30%;
}

ul.destination {
    list-style: none;
}

p {
  margin-bottom: .75em; }

main {
  max-width: 940px;
  padding: 70px 70px 30px 70px;
  padding-top: 30px;
  margin: auto;}
